<h3>{{date}}</h3>
<button mat-raised-button color="primary" (click)="reload()">Reload</button>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<mat-accordion>

  <mat-expansion-panel *ngFor="let hour of all" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

    <mat-expansion-panel-header>

      <mat-panel-title>
        {{hour.hour}}:00 - {{hour.hour}}:59
      </mat-panel-title>

      <mat-panel-description>
        {{hour.amount}} Flights
      </mat-panel-description>

    </mat-expansion-panel-header>

    <button mat-raised-button color="primary" (click)="renderPieChart(organizeFlights(hour))">Pie Chart</button>

    <!--<div id="chart" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
    <p>algo aqui ademas {{hour.amount}}</p>-->


    <!--<div *ngFor="let item of hour.all">
      <p *ngIf="updated(item); else notShow">
          {{item.updated}} {{item.status}} 
      </p>
      <ng-template #notShow>
          <p>{{item.updated}} {{item.status}}</p>
      </ng-template>
    </div>-->

    <div *ngFor="let item of organizeFlights(hour)">
      <h3>{{item.name}} - {{item.y}}</h3>
    </div>

  </mat-expansion-panel>

</mat-accordion>